@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-black: hsl(0, 0%, 0%);
  --primary-gray: hsl(0, 0%, 55%);
  --secondary-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-white);
}

header {
  background-image: url(./images/mobile/image-hero.jpg);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  background-size: cover;
  color: var(--primary-white);
  height: 100vh;
}

header > div {
  display: flex;
  flex-direction: column;
  gap: 11.45rem;
}

header ul {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

header li {
  text-transform: uppercase;
  font-size: 1.25rem;
}

header li:hover,
footer li:hover {
  cursor: pointer;
  position: relative;
}

header li:hover:before,
footer li:hover:before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0;
  height: 15px;
  width: 50%;
  border-bottom: 2px solid var(--primary-white);
}

header.show-menu {
  background: var(--primary-black);
  height: 100vh;
}

header.show-menu h1 {
  display: none;
}

header.show-menu .logo {
  width: 35%;
}

header.show-menu ul {
  display: flex;
}

header.show-menu .menu {
  display: none;
}

header.show-menu .close {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  font-family: "Josefin Sans", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  display: none;
}

ul {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.75rem;
  border: 2px solid var(--primary-white);
  padding: 1.75rem 0.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  align-self: center;
  line-height: 2.75rem;
  max-width: 400px;
}

section {
  padding: 1.75rem 1.125rem;
  text-align: center;
}

section img {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-content {
  position: relative;
}

.about-content div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about h2 {
  margin-top: 1rem;
}

.about p {
  font-family: "Alata", sans-serif;
  color: var(--primary-gray);
  line-height: 1.5rem;
  padding: 0 0.5rem;
}

.creations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.creations h2 {
  margin: 0.75rem 0;
  letter-spacing: 0.125rem;
  order: 1;
}

.creations div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  order: 2;
}

article {
  position: relative;
}

article:hover {
  cursor: pointer;
}

article:hover img {
  opacity: 0.3;
}

article:hover p {
  color: var(--primary-black);
}

article p {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.75rem;
  bottom: 10%;
  color: var(--primary-white);
  left: 1rem;
  max-width: 145px;
  text-align: start;
  font-family: "Josefin Sans", sans-serif;
}

.creations button {
  inline-size: 40%;
  align-self: center;
  border: 1.5px solid var(--primary-black);
  background-color: transparent;
  padding: 0.5rem 0rem;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 400;
  order: 3;
  max-width: 150px;
}

.creations button:hover {
  background-color: var(--primary-black);
  color: var(--primary-white);
  cursor: pointer;
}

footer {
  color: var(--primary-white);
  background-color: var(--primary-black);

  margin-top: 3rem;
  padding: 3rem 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  text-align: center;
}

footer p {
  color: var(--secondary-gray);
  font-family: "Alata", sans-serif;
}

footer li {
  padding-bottom: 0.5rem;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-family: "Alata", sans-serif;
  text-align: center;
  margin: 1.5rem 0;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 375px) {
  h1 {
    padding: 1.75rem 1.125rem;
  }
}

@media (min-width: 600px) {
  header {
    background-image: url(./images/desktop/image-hero.jpg);
    height: 100%;
  }

  header > div {
    width: 100%;
    max-width: 80%;
    margin: 0 auto 4rem auto;
    gap: 6rem;
  }

  h1 {
    align-self: flex-start;
  }

  .content {
    width: 100%;
    margin: 3rem auto;
  }

  .about {
    margin: 7rem auto;
  }

  .creations {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .creations h2 {
    flex: 1 1 160px;
    text-align: start;
  }

  .creations div {
    order: 3;
    flex: 1 1 160px;
  }

  .creations button {
    order: 2;
    flex: 1 1 160px;
  }

  section img {
    max-width: none;
    width: -webkit-fill-available;
  }
}

@media (min-width: 768px) {
  .creations div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .content {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  header li,
  .footer-menu li {
    font-size: 1.25rem;
  }
  .about {
    flex-direction: row;
    position: relative;
  }

  .about-content div {
    position: absolute;
    background-color: white;
    right: -9.5rem;
    padding: 3rem 0rem 2rem 2rem;
    bottom: -1px;
    max-width: 60%;
    text-align: start;
  }

  .creations {
    column-gap: 50%;
    row-gap: 2.5rem;
  }

  article p {
    left: 2rem;
    bottom: 5%;
  }

  footer {
    padding: 1rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }

  .footer-content div {
    align-items: flex-start;
  }

  .footer-content div:last-of-type {
    align-items: flex-end;
  }

  .footer-menu {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .menu-control {
    display: none;
  }

  nav {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  header > div {
    margin: 1.5rem auto 7rem auto;
    gap: 8rem;
  }

  header ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  header li {
    text-transform: capitalize;
    font-weight: 400;
  }

  h1 {
    max-width: 650px;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .about h2 {
    font-size: 3rem;
  }

  .about p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .about-content div {
    padding: 4rem 0rem 2rem 4rem;
    max-width: 70%;
    right: -22rem;
  }
  .creations {
    row-gap: 4.5rem;
    column-gap: 65%;
  }

  .creations div {
    grid-template-columns: repeat(4, 1fr);
  }
}
