@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-black: hsl(0, 0%, 0%);
  --primary-gray: hsl(0, 0%, 55%);
  --secondary-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(./images/mobile/image-hero.jpg);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem;
  background-size: cover;
  color: var(--primary-white);
  height: 100vh;
}

header > div {
  display: flex;
  flex-direction: column;
  gap: 11.45rem;
}

header ul {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

header li {
  text-transform: uppercase;
  font-size: 1.25rem;
}

header.show-menu {
  background: var(--primary-black);
  height: 100vh;
}

header.show-menu h1 {
  display: none;
}

header.show-menu .logo {
  width: 35%;
}

header.show-menu ul {
  display: flex;
}

header.show-menu .menu {
  display: none;
}

header.show-menu .close {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  font-family: "Josefin Sans", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  display: none;
}

ul {
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 2.75rem;
  border: 2px solid var(--primary-white);
  padding: 1.75rem 0.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  align-self: center;
  line-height: 2.75rem;
  max-width: 400px;
}

section {
  padding: 1.75rem 1.125rem;
  text-align: center;
}

section img {
  display: block;
  object-fit: contain;
  width: -webkit-fill-available;
}

h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about h2 {
  margin-top: 1rem;
}

.about p {
  font-family: "Alata", sans-serif;
  color: var(--primary-gray);
  line-height: 1.5rem;
  padding: 0 0.5rem;
}

.creations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.creations h2 {
  margin: 0.75rem 0;
  letter-spacing: 0.125rem;
}

.creations div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

article {
  position: relative;
}

article p {
  position: absolute;
  text-transform: uppercase;
  font-size: 1.75rem;
  bottom: 10%;
  color: var(--primary-white);
  left: 1rem;
  max-width: 145px;
  text-align: start;
  font-family: "Josefin Sans", sans-serif;
}

.creations button {
  inline-size: 40%;
  align-self: center;
  border: 1.5px solid var(--primary-black);
  background-color: transparent;
  padding: 0.5rem 0rem;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

footer {
  color: var(--primary-white);
  background-color: var(--primary-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

footer p {
  color: var(--secondary-gray);
  font-family: "Alata", sans-serif;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-family: "Alata", sans-serif;
  text-align: center;
  margin: 1.5rem 0;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 375px) {
  h1 {
    padding: 1.75rem 1.125rem;
  }
}

@media (min-width: 600px) {
  header {
    background-image: url(./images/desktop/image-hero.jpg);
    height: 100%;
  }

  header > div {
    width: 100%;
    max-width: 80%;
    margin: 0 auto 4rem auto;
    gap: 6rem;
  }

  h1 {
    align-self: flex-start;
  }

  .content {
    width: 100%;
    max-width: 80%;
    margin: 3rem auto;
  }
}

@media (min-width: 768px) {
  .creations div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .creations div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .menu-control {
    display: none;
  }

  nav {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  header > div {
    margin: 1.5rem auto 7rem auto;
    gap: 8rem;
  }

  header ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  header li {
    text-transform: capitalize;
    font-weight: 400;
  }

  h1 {
    max-width: 650px;
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .creations div {
    grid-template-columns: repeat(4, 1fr);
  }
}
